<nav class="navbar navbar-expand-md navbar-dark">
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand">
        <h1>Jaunt</h1>
      </a>
    </ul>
  </div>
  <mat-chip-list aria-label="click to subscribe">
    <mat-chip color="accent">Subscribe</mat-chip>
  </mat-chip-list>
</nav>

<div class="jumbotron p-4 p-md-5 text-white bg-dark">
  <div class="col-md-6 px-0">
    <!-- <h1 class="display-4 ">Jaunt</h1> -->
    <p class="lead my-3">Wake up early. <br>
      Eat a good breakfast. <br>
      Put on a kick-ass outfit. <br>
      Work your ass off. <br>
      Upgrade.</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Choices</strong>
        <h3 class="mb-0">Featured post</h3>
        <div class="mb-1 text-muted">Mention the release date//this is for date</div>
        <p class="card-text mb-auto">
          text here for choices[choices]
        </p>
        <a href="#" class="stretched-link" (click)="onClick()">Continue reading...</a>

      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">This shall too pass</strong>
        <h3 class="mb-0">Post title</h3>
        <div class="mb-1 text-muted">Nov 11</div>
        <p class="mb-auto">Yes!This shall too pass.So what if you cry your eyes out,this shall too pass.
        </p>
        <a href="#" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
        </svg>
      </div>
    </div>
  </div>
</div>


<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Happiness Mantra</h2>
        <p class="blog-post-meta">January 1, 2014 by Mark<a href="#">
          
        </a></p>

        <p>“If you are not going to talk about something during the last hour of life, then don’t make it a priority during
          life.”
          –Richard Corlson.
          Life never goes as per our plans and it will never for anyone. Every person’s life is centered around finding
          happiness. We work hard, give our best in whatever we do, everyone around us seems to be happy, our boss, family,
          people in locality everyone. But how many of us ask this question to ourselves, are we really happy, does anything
          from these things has any consequences for our happiness? Yes, the family has, our work has but not the bar we hit
          every weekend, not those people we come across every day. People who are passionate about what they do are happy.
          But not everyone is fortunate enough to do what they love. In this fast-moving world, we run after money, fame,
          power, we wear masks and sometimes so much of it that we forget who we are. We assume that if we get to ride a
          superbike, have a lot of money, a good wine to drink, a pet to live with, a girlfriend whom we thought of spending
          our whole life with, we can be happy. But in fact, all these things are temporary and have the least consequences
          for our happiness. Of course, riding a bike makes us happy, we feel the air, the speed and adrenaline rush gives us
          thrills, and after all, we live once, so we should make it to the fullest. But What if someday we will be deprived
          of that? Money gives freedom, though it is virtual. But What if someday we lose every penny we have saved, what if
          our body has reached the maximum capacity of alcohol intake, the pet dies, girlfriend cheats. What’s next? Now we
          have lost All those things that made us happy. We start feeling shattered, anxiety hits us hard, we find nothing
          good, those pills are not working anymore. What we do then?...
          But if we will be having something which we will never be able to count, like creativity which has no connection
          with materialistic things around us. If we start loving ourselves, our own company then we won’t need anybody to
          make us realize we are adorable, because in the end no matter what, we won’t ever let us down. This will make us
          happy. If we start to value whatever we possess we can be happy. No one in this world is perfect and chasing
          perfection will steal our happiness. So we should start accepting the way we are and we can be happy. But this
          doesn’t mean we will stop defeating our negativity. We should love yourself, spread that love, help people. Stop
          worrying about the craps we have, people we have lost and start cherishing people we have with us now, this will
          make us happy. We should start making habits that breed happiness.
      
          “Everyone should be rich and famous because to know that is not what it takes to be happy. “ -Jim Carrey</p>
        <hr>
        <!-- <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean
          eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at
          lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo.
            Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum.
          Aenean lacinia bibendum nulla sed consectetur.</p> -->
        <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus,
          nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac,
          vestibulum at eros.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,
          tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum
          nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus
          commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
          <li>Vestibulum id ligula porta felis euismod semper.</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Another blog post</h2>
        <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean
          eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at
          lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo.
            Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum.
          Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus,
          nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac,
          vestibulum at eros.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum
          nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus
          commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum.
          Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
          fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

  <div body background-image="./assets/ap.jpg">

  </div>

  <div>
    <h1>Choices</h1>
    Nothing in this world happens by chance. Our fulfilments and unfulfillments come from the choices we make through
    our actions. Sometimes we choose the wrong things predicting that these choices would lead us to achieve our goals.
    Our calculations go wrong and we fail miserably. On the other side, not making a choice and unwilling to get out of
    our comfort zone will only lead to regrets. The only way to move forward in life is choosing to put ourselves in our
    discomfort zones, make sacrifices and work on it. But if at all we don’t make choices we can't get what we have
    aspired for. Here comes the difference, dreaming every time and taking action to achieve them. At points, our plan
    of action seems perfect, but the start is what stops most of us. No matter how good we plan out things, how perfect
    our calculations seem to be, still we will have to go through a lot of catastrophes. This hustle phase might seem
    tough rather impossible and at points, we would feel like we are left with one option, i.e giving up. But still, we
    should not lose heart, because we never know how close we are to the point of achievement. There will be failures,
    not one, not two but a lot. There will be crossroads to encounter in our path and the choice to take a particular
    one will decide our destiny.
    Don't be afraid of failures, because all of them are psychological. Believe that we will succeed may not be now,
    after a month or a year but someday will be our day. But for that one day or that overnight success, we need to have
    perseverance, we have to slog our asses for a lot of days, spend a lot of sleepless nights. No one is gonna handover
    nothing to us. Believe me, there is no greater satisfaction than being self-made.

    But how to make these choices, how to figure out which road to take? There are a lot of ways, but listening to our
    instincts and figuring out a particular thing which will make us happy even after losing everything we ever had can
    make us choose the right thing for us. Even at times, these decisions might fail and we get a setback, but then we
    can't undo it. So all we need to do is learn from it, make memories and grow.
    Make choices and take action, some days will be easier and others will be hard. Be it easy or hard the only way to
    get there is, choose to start.
    "A hard thing is done by figuring out how to start."
  </div><br>
  <div>
<h1>Happiness Mantra</h1>
    “If you are not going to talk about something during the last hour of life, then don’t make it a priority during
    life.”
    –Richard Corlson.
    Life never goes as per our plans and it will never for anyone. Every person’s life is centered around finding
    happiness. We work hard, give our best in whatever we do, everyone around us seems to be happy, our boss, family,
    people in locality everyone. But how many of us ask this question to ourselves, are we really happy, does anything
    from these things has any consequences for our happiness? Yes, the family has, our work has but not the bar we hit
    every weekend, not those people we come across every day. People who are passionate about what they do are happy.
    But not everyone is fortunate enough to do what they love. In this fast-moving world, we run after money, fame,
    power, we wear masks and sometimes so much of it that we forget who we are. We assume that if we get to ride a
    superbike, have a lot of money, a good wine to drink, a pet to live with, a girlfriend whom we thought of spending
    our whole life with, we can be happy. But in fact, all these things are temporary and have the least consequences
    for our happiness. Of course, riding a bike makes us happy, we feel the air, the speed and adrenaline rush gives us
    thrills, and after all, we live once, so we should make it to the fullest. But What if someday we will be deprived
    of that? Money gives freedom, though it is virtual. But What if someday we lose every penny we have saved, what if
    our body has reached the maximum capacity of alcohol intake, the pet dies, girlfriend cheats. What’s next? Now we
    have lost All those things that made us happy. We start feeling shattered, anxiety hits us hard, we find nothing
    good, those pills are not working anymore. What we do then?...
    But if we will be having something which we will never be able to count, like creativity which has no connection
    with materialistic things around us. If we start loving ourselves, our own company then we won’t need anybody to
    make us realize we are adorable, because in the end no matter what, we won’t ever let us down. This will make us
    happy. If we start to value whatever we possess we can be happy. No one in this world is perfect and chasing
    perfection will steal our happiness. So we should start accepting the way we are and we can be happy. But this
    doesn’t mean we will stop defeating our negativity. We should love yourself, spread that love, help people. Stop
    worrying about the craps we have, people we have lost and start cherishing people we have with us now, this will
    make us happy. We should start making habits that breed happiness.

    “Everyone should be rich and famous because to know that is not what it takes to be happy. “ -Jim Carrey
 </div>