<!-- 
<mat-toolbar>
  <form class="form">
    <mat-form-field class="full-width"  mat-label>
      <mat-label style= "color:black" style =  "font-family:monospace"
       >Search</mat-label>
      <input matInput  style =  "font-family:monospace"  >
    </mat-form-field>
  </form>
</mat-toolbar>
<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Apple Music</mat-button-toggle>
  <mat-button-toggle value="italic">  </mat-button-toggle>
  
</mat-button-toggle-group> -->


<topbar></topbar>
<!-- <main role="main" class="container">

  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
      mostly barebones HTML document.</p>
  </div>

</main> --> 