 /* mat-toolbar{
    padding: 50px 50px 25px 10px;
    height:50px;
    width: 1000px;
    background-color: rgb(165, 190, 190);
  } */
  body {
    padding: 50px 50px 25px 10px;
    height:50px;
    width: 1000px;
    background-color: rgb(165, 190, 190);
  }